body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --e-global-color-primary: #6EC1E4;
  --e-global-color-secondary: #98b1c8;
  --e-global-color-text: #071f35;
  --e-global-color-accent: #071f35;
  --e-global-color-eb15a12: #24496b;
  --e-global-color-65fcc69: #446d92;
  --e-global-color-1d83210: #262626;
  --e-global-color-48d439c: #071f35;
}

body {
  margin: 0;
  background: linear-gradient(135deg,
      var(--e-global-color-primary),
      var(--e-global-color-secondary),
      var(--e-global-color-65fcc69));
  min-height: 100vh;
  color: var(--e-global-color-text);
}

.navbar-custom {
  background: linear-gradient(135deg,
      var(--e-global-color-primary),
      var(--e-global-color-secondary),
      var(--e-global-color-65fcc69));
}

.navbar-custom .nav-link,
.navbar-custom .navbar-brand {
  color: var(--e-global-color-text);
  font-weight: 500;
}

.navbar-custom .nav-link:hover,
.navbar-custom .navbar-brand:hover {
  color: var(--e-global-color-accent);
  text-decoration: none;
}


.admin {
  margin: 0;
  background: linear-gradient(135deg,
      var(--e-global-color-primary),
      var(--e-global-color-secondary),
      var(--e-global-color-65fcc69));
  min-height: 100vh;
  color: var(--e-global-color-text);
}