body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --e-global-color-primary: #6EC1E4;
  --e-global-color-secondary: #98b1c8;
  --e-global-color-text: #071f35;
  --e-global-color-accent: #071f35;
  --e-global-color-eb15a12: #24496b;
  --e-global-color-65fcc69: #446d92;
  --e-global-color-1d83210: #262626;
  --e-global-color-48d439c: #071f35;
}

body {
  margin: 0;
  background: linear-gradient(135deg,
      var(--e-global-color-primary),
      var(--e-global-color-secondary),
      var(--e-global-color-65fcc69));
  min-height: 100vh;
  color: var(--e-global-color-text);
}

.navbar-custom {
  background: linear-gradient(135deg,
      var(--e-global-color-primary),
      var(--e-global-color-secondary),
      var(--e-global-color-65fcc69));
}

.navbar-custom .nav-link,
.navbar-custom .navbar-brand {
  color: var(--e-global-color-text);
  font-weight: 500;
}

.navbar-custom .nav-link:hover,
.navbar-custom .navbar-brand:hover {
  color: var(--e-global-color-accent);
  text-decoration: none;
}


.admin {
  margin: 0;
  background: linear-gradient(135deg,
      var(--e-global-color-primary),
      var(--e-global-color-secondary),
      var(--e-global-color-65fcc69));
  min-height: 100vh;
  color: var(--e-global-color-text);
}

.userdatagrid {
  background: linear-gradient(135deg,
      var(--e-global-color-primary),
      var(--e-global-color-secondary),
      var(--e-global-color-65fcc69));
  min-height: 100vh;
  color: var(--e-global-color-text);

}

.settings {
  background: linear-gradient(135deg,
      var(--e-global-color-primary),
      var(--e-global-color-secondary),
      var(--e-global-color-65fcc69));
  min-height: 100vh;
  color: var(--e-global-color-text);
}

.home {
  background: linear-gradient(135deg,
      var(--e-global-color-primary),
      var(--e-global-color-secondary),
      var(--e-global-color-65fcc69));
  color: var(--e-global-color-text);

}

.carditem {
  position: fixed;
  bottom: 60px;

  left: 290px;

  width: 250px;

  z-index: 1000;

}


.cards {
  flex: 1;
}

.card {
  background: linear-gradient(135deg,
      var(--e-global-color-primary),
      var(--e-global-color-secondary),
      var(--e-global-color-65fcc69));
  padding: 1rem;
  border-radius: 8px;
}

.card__bullets {
  line-height: 1.4;
}

.card__heading {
  font-size: 1.05em;
  font-weight: 600;
}

.card__price {
  font-size: 1.75em;
  font-weight: 700;
}

.flow>*+* {
  margin-top: var(--flow-space, 1.25em);
}

.card:hover {
  --lightness: 80%;
  background: #6EC1E4;
  color: #000;
  outline: 1px solid rgb(255, 110, 193, 228);
  box-shadow:
    inset 0 0 80px whitesmoke,
    inset 20px 0 80px #6EC1E4,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px #f0f,
    inset -20px 0 300px #0ff,
    0 0 50px #fff,
    -10px 0 80px #f0f,
    10px 0 80px #0ff;
}